@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");
*{
  font-family: 'Poppins',sans-serif;
}
.title {
  font-family: 'Kaushan Script', sans-serif;
  transform: rotate(-2deg);
  font-size: 4rem !important;
  margin-top: -5px !important;
}